In [11]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("bestsellers with categories.csv")
data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [3]:
data.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [4]:
data.index

RangeIndex(start=0, stop=550, step=1)

In [6]:
data.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [12]:
numeric_data = data.select_dtypes(include=[np.number])
numeric_data.corr()

             User Rating   Reviews     Price      Year
User Rating     1.000000 -0.001729 -0.133086  0.242383
Reviews        -0.001729  1.000000 -0.109182  0.263560
Price          -0.133086 -0.109182  1.000000 -0.153979
Year            0.242383  0.263560 -0.153979  1.000000

In [13]:
print(data.shape)
data.dtypes

(550, 7)

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

In [16]:
data.Author.value_counts()

Author
Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: count, Length: 248, dtype: int64

In [17]:
data.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [18]:
data["Genre"].value_counts()

Genre
Non Fiction    310
Fiction        240
Name: count, dtype: int64

In [19]:
data["Genre"].value_counts(normalize=True)

Genre
Non Fiction    0.563636
Fiction        0.436364
Name: proportion, dtype: float64

In [20]:
data_order = data.groupby(["Name", "Author", "Genre"], as_index=False)[["User Rating", "Reviews"]].mean()
data_order

,Name,Author,Genre,User Rating,Reviews
0,10-Day Green Smoothie Cleanse,JJ Smith,Non Fiction,4.7,17350.0
1,11/22/63: A Novel,Stephen King,Fiction,4.6,2052.0
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,Non Fiction,4.7,18979.0
3,1984 (Signet Classics),George Orwell,Fiction,4.7,21424.0
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,Non Fiction,4.8,7665.0
...,...,...,...,...,...
346,Winter of the World: Book Two of the Century T...,Ken Follett,Fiction,4.5,10760.0
347,Women Food and God: An Unexpected Path to Almo...,Geneen Roth,Non Fiction,4.2,1302.0
348,Wonder,R. J. Palacio,Fiction,4.8,21625.0
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction,4.9,9413.0
350,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction,4.7,14331.0

In [21]:
data_order = data_order[data_order["Reviews"] > 3000]
data_order

,Name,Author,Genre,User Rating,Reviews
0,10-Day Green Smoothie Cleanse,JJ Smith,Non Fiction,4.7,17350.0
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,Non Fiction,4.7,18979.0
3,1984 (Signet Classics),George Orwell,Fiction,4.7,21424.0
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,Non Fiction,4.8,7665.0
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,Fiction,4.4,12643.0
...,...,...,...,...,...
345,Wild: From Lost to Found on the Pacific Crest ...,Cheryl Strayed,Non Fiction,4.4,17044.0
346,Winter of the World: Book Two of the Century T...,Ken Follett,Fiction,4.5,10760.0
348,Wonder,R. J. Palacio,Fiction,4.8,21625.0
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction,4.9,9413.0
350,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,Non Fiction,4.7,14331.0

In [23]:
data_order = data_order.sort_values("User Rating", ascending=False).head(20)
data_order

,Name,Author,Genre,User Rating,Reviews
177,Obama: An Intimate Portrait,Pete Souza,Non Fiction,4.9,3192.0
71,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,Fiction,4.9,5470.0
151,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,Fiction,4.9,11881.0
197,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,Fiction,4.9,3836.0
140,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,Non Fiction,4.9,19576.0
70,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,Fiction,4.9,9089.0
69,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,Fiction,4.9,12619.0
68,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,Fiction,4.9,7235.0
208,Strange Planet (Strange Planet Series),Nathan W. Pyle,Fiction,4.9,9382.0
67,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,Fiction,4.9,4786.0
312,The Wonderful Things You Will Be,Emily Winfield Martin,Fiction,4.9,8842.0
36,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,Fiction,4.9,14344.0
66,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,Fiction,4.9,5062.0
310,The Very Hungry Caterpillar,Eric Carle,Fiction,4.9,19546.0
108,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,Fiction,4.9,7038.0
112,Hamilton: The Revolution,Lin-Manuel Miranda,Non Fiction,4.9,5867.0
120,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,Fiction,4.9,10052.0
119,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,Fiction,4.9,3146.0
118,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,Fiction,4.9,7758.0
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,Fiction,4.9,9413.0